@model StockManagement.Models.PositionsMagasin

@{
    ViewData["Title"] = "Supprimer";
}

<h1>Supprimer</h1>

<h3>Êtes-vous sûr de vouloir supprimer cet élément ?</h3>
<div>
    <h4>Position magasin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Article
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Article.Id)
        </dd class>
        <dt class = "col-sm-2">
            Etagère
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etagere.Id)
        </dd class>
        <dt class = "col-sm-2">
            Quantité
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantite)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ArticleId" />
        <input type="hidden" asp-for="EtagereId" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
