@model StockManagement.Models.Etagere

@{
    ViewData["Title"] = "Supprimer";
}

    <h1>Supprimer</h1>

<h3>Etes-vous sûr de vouloir supprimer  cet élément ?</h3>
<div>
    <h4>Étagère</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Poids maximum
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoidsMaximum)
        </dd>
        <dt class = "col-sm-2">
            Secteur
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Secteur.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
